
body {
    background-color:darkkhaki;
    align-content: center;
    text-align: center;
}
.selection, .results {
    display: flex;
    margin: auto;
    width: 50%;
    gap: 50px;
    padding: 50px;
}
.selections {
    display: flex;
    flex-direction: column;
    align-items: center;
}


button {
    margin: 10px 30px;
    padding: 10px;
    width: 100px;
}